body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-image: url(https://images.pexels.com/photos/6985200/pexels-photo-6985200.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 500px;
    box-shadow: 1px 3px 15px #888888;
    /* height: 500px; */
}
.navbar {
    background-image: linear-gradient(to right, #85476e, #582e55);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    color: white;
}
.result-box{
    background-color: #fff9f6;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
textarea:focus, input:focus{
    outline: none;
}

input{
    background-color: #fff9f6;
    font-size: 20px;
}

.keys{
    height: 250px;
    background-color: #fff1ea;
}
button{
    width: 122px;
    height: 50px;
    background: transparent;
    border: none;
    color: #8e5178;
    background-color: #fff1ea;
    padding: 0px;
}
button:hover{
    background-color: #8e5178;
    color: white;
}
#input-area{
    border: transparent;
    width:100%;
    height: 50px;
    text-align: right;
}

